.map {
    height: 90vh;
}


.results {
        
    height: 90vh;
    /*overflow: auto;*/
}

@media (min-width: 768px) {
    #mapresult {
        grid-template-columns: minmax(0%,2fr) minmax(0%, 1fr)
    }
}

.marker {
    border-radius: 50%;
    display: block;
    width: 10px;
    height: 10px;
    background-color: purple;

}

.grade_A {
    background-color: blue;
}
.grade_B {
    background-color: green;
}
.grade_C {
    background-color: orange;
}
.grade_N {
    background-color: gray;
}
.grade_Z {
    background-color: gray;
}
.grade_P {
    background-color: gray;
}
.grade_ {
    background-color: gray;
}

.map-marker {
    background: none;
    border:none;
    padding:0px;
    border-radius: 50%;
}


.popup-restaurant-name {
    font-size: 16px;
    margin-bottom: 5px;
}